*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    h1 {
        margin: 30px 0;
        font-size: 3.5rem;
        text-align: center;
    }
}

.container {
    margin-top: 60px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

// FLIP CSS
.flip-container {
    perspective: 1000px;
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container {
    width: 300px;
    .front img {
        width: 300px;
        height: auto;
    }
    .back img {
        width: 300px;
    }
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.front,
.back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}
.back {
    transform: rotateY(180deg);
}
