body {
    background: linear-gradient(#ffe26f, #f15f3e) no-repeat center center fixed;
    background-size: cover;
    color: black;
    font-family: "pokeFont";
    letter-spacing: 2px;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 5%;
}

.container {
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    div {
        min-width: 350px;
        display: flex;
        flex-direction: column;
    }
}

#id {
    ul {
        display: flex;
        justify-content: center;
        padding-left: 0;
        list-style-type: none;

        li {
            &:first-child {
                margin-right: 20px;
            }
            letter-spacing: 4px;
            font-size: 2rem;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    h2 {
        margin: 0px;
        text-align: center;
    }
    h4 {
        text-align: center;
        margin: 0px;
    }
    div {
        display: flex;
        justify-content: center;
        flex-direction: row;
        h4 {
            &:nth-child(2) {
                margin-left: 20px;
            }
        }
    }
}

#stats {
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    h2 {
        letter-spacing: 4px;
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
    }
    p {
        margin-top: 0;
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

#image {
    width: 600px;
    margin: 20px;
    img {
        margin: auto;
        min-width: 350px;
        max-width: 450px;

        background-repeat: no-repeat;
        color: white;
    }
}

@font-face {
    font-family: "pokeFont";
    src: url("../PokeSolid.ttf");
}
