body{
    background-image: url('../pages/images/Background.jpg');
    // background: linear-gradient(#fcd26f, #f5796f);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}